*~
*.db
*.autosave
build*/*
.DS_Store
CMakeLists.txt.user
wt.tags
doc/tutorial/auth.html
doc/tutorial/dbo.html
doc/tutorial/wt.html
doc/reference
doc/examples
examples/*/resources
examples/hello/*.svg
examples/widgetgallery/docroot/resources
resources/tiny_mce
resources/tinymce
test/interactive
debug/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

## cmake .
CMakeCache.txt
CMakeFiles/
Makefile
Wt/
cmake_install.cmake
examples/CMakeFiles/
examples/Makefile
examples/blog/CMakeFiles/
examples/blog/Makefile
examples/blog/cmake_install.cmake
examples/chart3D/CMakeFiles/
examples/chart3D/Makefile
examples/chart3D/cmake_install.cmake
examples/charts/CMakeFiles/
examples/charts/Makefile
examples/charts/cmake_install.cmake
examples/cmake_install.cmake
examples/codeview/CMakeFiles/
examples/codeview/Makefile
examples/codeview/cmake_install.cmake
examples/composer/CMakeFiles/
examples/composer/Makefile
examples/composer/cmake_install.cmake
examples/custom-bs-theme/CMakeFiles/
examples/custom-bs-theme/Makefile
examples/custom-bs-theme/cmake_install.cmake
examples/dbo-form/CMakeFiles/
examples/dbo-form/Makefile
examples/dbo-form/cmake_install.cmake
examples/dialog/CMakeFiles/
examples/dialog/Makefile
examples/dialog/cmake_install.cmake
examples/dragdrop/CMakeFiles/
examples/dragdrop/Makefile
examples/dragdrop/cmake_install.cmake
examples/feature/CMakeFiles/
examples/feature/Makefile
examples/feature/auth1/CMakeFiles/
examples/feature/auth1/Makefile
examples/feature/auth1/cmake_install.cmake
examples/feature/auth2/CMakeFiles/
examples/feature/auth2/Makefile
examples/feature/auth2/cmake_install.cmake
examples/feature/broadcast/CMakeFiles/
examples/feature/broadcast/Makefile
examples/feature/broadcast/cmake_install.cmake
examples/feature/client-ssl-auth/CMakeFiles/
examples/feature/client-ssl-auth/Makefile
examples/feature/client-ssl-auth/cmake_install.cmake
examples/feature/cmake_install.cmake
examples/feature/dbo/CMakeFiles/
examples/feature/dbo/Makefile
examples/feature/dbo/cmake_install.cmake
examples/feature/dbo/tutorial9/CMakeFiles/
examples/feature/dbo/tutorial9/Makefile
examples/feature/dbo/tutorial9/cmake_install.cmake
examples/feature/locale/CMakeFiles/
examples/feature/locale/Makefile
examples/feature/locale/cmake_install.cmake
examples/feature/mediaplayer/CMakeFiles/
examples/feature/mediaplayer/Makefile
examples/feature/mediaplayer/cmake_install.cmake
examples/feature/miniwebgl/CMakeFiles/
examples/feature/miniwebgl/Makefile
examples/feature/miniwebgl/cmake_install.cmake
examples/feature/multiple_servers/CMakeFiles/
examples/feature/multiple_servers/Makefile
examples/feature/multiple_servers/cmake_install.cmake
examples/feature/oauth/CMakeFiles/
examples/feature/oauth/Makefile
examples/feature/oauth/cmake_install.cmake
examples/feature/oidc/CMakeFiles/
examples/feature/oidc/Makefile
examples/feature/oidc/cmake_install.cmake
examples/feature/paypal/CMakeFiles/
examples/feature/paypal/Makefile
examples/feature/paypal/cmake_install.cmake
examples/feature/postall/CMakeFiles/
examples/feature/postall/Makefile
examples/feature/postall/cmake_install.cmake
examples/feature/scrollvisibility/CMakeFiles/
examples/feature/scrollvisibility/Makefile
examples/feature/scrollvisibility/cmake_install.cmake
examples/feature/serverpush/CMakeFiles/
examples/feature/serverpush/Makefile
examples/feature/serverpush/cmake_install.cmake
examples/feature/socketnotifier/CMakeFiles/
examples/feature/socketnotifier/Makefile
examples/feature/socketnotifier/cmake_install.cmake
examples/feature/suggestionpopup/CMakeFiles/
examples/feature/suggestionpopup/Makefile
examples/feature/suggestionpopup/cmake_install.cmake
examples/feature/template-fun/CMakeFiles/
examples/feature/template-fun/Makefile
examples/feature/template-fun/cmake_install.cmake
examples/feature/urlparams/CMakeFiles/
examples/feature/urlparams/Makefile
examples/feature/urlparams/cmake_install.cmake
examples/feature/video/CMakeFiles/
examples/feature/video/Makefile
examples/feature/video/cmake_install.cmake
examples/feature/widgetset/CMakeFiles/
examples/feature/widgetset/Makefile
examples/feature/widgetset/cmake_install.cmake
examples/filedrop/CMakeFiles/
examples/filedrop/Makefile
examples/filedrop/cmake_install.cmake
examples/filetreetable/CMakeFiles/
examples/filetreetable/Makefile
examples/filetreetable/cmake_install.cmake
examples/form/CMakeFiles/
examples/form/Makefile
examples/form/cmake_install.cmake
examples/gitmodel/CMakeFiles/
examples/gitmodel/Makefile
examples/gitmodel/cmake_install.cmake
examples/hangman/CMakeFiles/
examples/hangman/Makefile
examples/hangman/cmake_install.cmake
examples/hello/CMakeFiles/
examples/hello/Makefile
examples/hello/cmake_install.cmake
examples/http-client/CMakeFiles/
examples/http-client/Makefile
examples/http-client/cmake_install.cmake
examples/javascript/CMakeFiles/
examples/javascript/Makefile
examples/javascript/cmake_install.cmake
examples/leaflet/CMakeFiles/
examples/leaflet/Makefile
examples/leaflet/cmake_install.cmake
examples/mandelbrot/CMakeFiles/
examples/mandelbrot/Makefile
examples/mandelbrot/cmake_install.cmake
examples/mission/CMakeFiles/
examples/mission/Makefile
examples/mission/cmake_install.cmake
examples/onethread/CMakeFiles/
examples/onethread/Makefile
examples/onethread/cmake_install.cmake
examples/painting/CMakeFiles/
examples/painting/Makefile
examples/painting/cmake_install.cmake
examples/planner/CMakeFiles/
examples/planner/Makefile
examples/planner/cmake_install.cmake
examples/qrlogin/CMakeFiles/
examples/qrlogin/Makefile
examples/qrlogin/cmake_install.cmake
examples/simplechat/CMakeFiles/
examples/simplechat/Makefile
examples/simplechat/cmake_install.cmake
examples/style/CMakeFiles/
examples/style/Makefile
examples/style/cmake_install.cmake
examples/te-benchmark/CMakeFiles/
examples/te-benchmark/Makefile
examples/te-benchmark/cmake_install.cmake
examples/treelist/CMakeFiles/
examples/treelist/Makefile
examples/treelist/cmake_install.cmake
examples/treeview-dragdrop/CMakeFiles/
examples/treeview-dragdrop/Makefile
examples/treeview-dragdrop/cmake_install.cmake
examples/treeview/CMakeFiles/
examples/treeview/Makefile
examples/treeview/cmake_install.cmake
examples/webgl/CMakeFiles/
examples/webgl/Makefile
examples/webgl/cmake_install.cmake
examples/widgetgallery/CMakeFiles/
examples/widgetgallery/Makefile
examples/widgetgallery/cmake_install.cmake
examples/wt-homepage/CMakeFiles/
examples/wt-homepage/Makefile
examples/wt-homepage/cmake_install.cmake
examples/wtwithqt/CMakeFiles/
examples/wtwithqt/Makefile
examples/wtwithqt/cmake_install.cmake
examples/wtwithqt/lib/CMakeFiles/
examples/wtwithqt/lib/Makefile
examples/wtwithqt/lib/cmake_install.cmake
src/AuthCssTheme_xml.C
src/AuthStrings_xml.C
src/Boot_html.C
src/Boot_js.C
src/Bootstrap3Theme_xml.C
src/Bootstrap5Theme_xml.C
src/BootstrapTheme_xml.C
src/CMakeFiles/
src/Hybrid_html.C
src/Makefile
src/Plain_html.C
src/WCartesianChart_js.C
src/Wt/Auth/CMakeFiles/
src/Wt/Auth/Dbo/CMakeFiles/
src/Wt/Auth/Dbo/Makefile
src/Wt/Auth/Dbo/cmake_install.cmake
src/Wt/Auth/Makefile
src/Wt/Auth/cmake_install.cmake
src/Wt/CMakeFiles/
src/Wt/Chart/CMakeFiles/
src/Wt/Chart/Makefile
src/Wt/Chart/cmake_install.cmake
src/Wt/Core/CMakeFiles/
src/Wt/Core/Makefile
src/Wt/Core/cmake_install.cmake
src/Wt/Date/CMakeFiles/
src/Wt/Date/Makefile
src/Wt/Date/cmake_install.cmake
src/Wt/Dbo/CMakeFiles/
src/Wt/Dbo/Makefile
src/Wt/Dbo/backend/CMakeFiles/
src/Wt/Dbo/backend/Makefile
src/Wt/Dbo/backend/cmake_install.cmake
src/Wt/Dbo/cmake_install.cmake
src/Wt/Form/CMakeFiles/
src/Wt/Form/Dbo/CMakeFiles/
src/Wt/Form/Dbo/Makefile
src/Wt/Form/Dbo/cmake_install.cmake
src/Wt/Form/Makefile
src/Wt/Form/cmake_install.cmake
src/Wt/Http/CMakeFiles/
src/Wt/Http/Makefile
src/Wt/Http/cmake_install.cmake
src/Wt/Json/CMakeFiles/
src/Wt/Json/Makefile
src/Wt/Json/cmake_install.cmake
src/Wt/Mail/CMakeFiles/
src/Wt/Mail/Makefile
src/Wt/Mail/cmake_install.cmake
src/Wt/Makefile
src/Wt/Payment/CMakeFiles/
src/Wt/Payment/Makefile
src/Wt/Payment/cmake_install.cmake
src/Wt/Render/CMakeFiles/
src/Wt/Render/Makefile
src/Wt/Render/cmake_install.cmake
src/Wt/Signals/CMakeFiles/
src/Wt/Signals/Makefile
src/Wt/Signals/cmake_install.cmake
src/Wt/Test/CMakeFiles/
src/Wt/Test/Makefile
src/Wt/Test/cmake_install.cmake
src/Wt/cmake_install.cmake
src/Wt_js.C
src/Wt_xml.C
src/cmake_install.cmake
src/fcgi/CMakeFiles/
src/fcgi/Makefile
src/fcgi/cmake_install.cmake
src/http/CMakeFiles/
src/http/Makefile
src/http/cmake_install.cmake
src/isapi/CMakeFiles/
src/isapi/Makefile
src/isapi/cmake_install.cmake
src/web/CMakeFiles/
src/web/Makefile
src/web/cmake_install.cmake
test/CMakeFiles/
test/Makefile
test/cmake_install.cmake
wt-config-version.cmake
wt-config.cmake
wt_config.xml


